<div style="text-align:center">

  <h1>
    {{title}}!
  </h1>
  
  
  
  <label for="input_connect">WebSocket connection:</label>
  <input  id="input_connect" type="text" #input_connect>
  <br>
  <button id="connect" class="btn btn-default" type="button" (click)="connect(input_connect.value)">Connect</button>
  
  <br>

  <button id="Ready" class="btn btn-default" type="button" (click)="readyToStart()">Ready</button>
  
  <div class="game-lobby-container">
    <div class="game-lobby">
      <div class="message"></div>
    </div>
  </div>
  
  <br>
  
  <div class="footer">
    <input  id="input_message" type="text" #input_message>
    <button id="send" class="btn btn-default send" type="button" (click)="sendMessage(input_message.value)"></button>
  </div>
  
  

