<div style="text-align:center">

  <h1>
    {{title}}!
  </h1>
  
  <div class="row">
    <div class="col-md-6">
        <form class="form-inline">
            <div class="form-group">
              <label for="input_connect"> Pseudo : </label>
              <input  id="input_connect" type="text" #input_connect>
              <button id="connect" class="btn btn-default" type="button" (click)="connect(input_connect.value)">Connect</button>
              <button id="disconnect" class="btn btn-default" type="button" (click)="disconnect()">Disconnect</button>
              <br>
              <button id="ready" class="btn btn-default" type="button" (click)="readyToStart()">Ready</button>
            </div>
          </form>
      </div>
    </div>
  
  <div class="game-lobby-container">
    <div class="game-lobby">
      <div class="message"></div>
    </div>
  </div>
  
  <br>
  
  <div class="footer">
    <input  id="input_message" type="text" #input_message>
    <button id="send" class="btn btn-default send" type="button" (click)="sendMessage(input_message.value)"></button>
  </div>
  
  

